<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      id="favicon"
      rel="shortcut icon"
      type="image/x-icon"
      href="images/06b8624d4c8d4d0cd5b5.ico" // 빌드되서 캐싱된 파일은 어떻게 호출해야되나....
    /> -->
    <link id="favicon" rel="shortcut icon" type="image/x-icon" />
    <title>
      <%= process.env.name %> Init Propject<%= htmlWebpackPlugin.options.title
      %>
    </title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
